* {
  box-sizing: border-box;
  font-family: "Segoe UI", Arial, sans-serif;
}

body {
  margin: 0;
  background: #0f0f0f;
}

/* WRAPPER */
.meet-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: relative;
}

/* VIDEO STAGE */
.video-stage {
  background: radial-gradient(circle, #2f4f4f, #1b2b34);
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: width 0.3s ease;
}

.video-stage.full {
  width: 100%;
}

video {
  width: 85%;
  max-height: 85%;
  border-radius: 16px;
  background: black;
  transition: all 0.3s ease;
}

/* When side panel opens, video becomes smaller */
.video-stage:not(.full) video {
  width: 65%;
  max-height: 65%;
}


/* SIDE PANEL */
.side-panel {
  width: 380px;
  background: #fff;
  color: #202124;
  display: flex;
  flex-direction: column;
  padding: 14px;
}

.hidden {
  display: none;
}

/* PANELS */
.panel {
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* WHITEBOARD */
canvas {
  width: 100%;
  height: 400px;
  background: white;
  border: 2px solid #ccc;
}




.wb-tools {
  display: flex;
  gap: 10px;
}

.wb-tools button {
  flex: 1;
  padding: 8px;
  border: none;
  border-radius: 8px;
  background: #1a73e8;
  color: white;
}

/* CHAT */
.chat-box {
  flex: 1;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 8px;
  overflow-y: auto;
  margin-bottom: 10px;
}

.chat-input {
  display: flex;
  gap: 8px;
}

.chat-input input {
  flex: 1;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.chat-input button {
  padding: 8px 14px;
  border-radius: 8px;
  border: none;
  background: #1a73e8;
  color: white;
}

/* BOTTOM BAR */
.bottom-bar {
  position: absolute;
  bottom: 18px;
  left: 50%;
  transform: translateX(-50%);
  background: #1f1f1f;
  padding: 10px 16px;
  border-radius: 30px;
  display: flex;
  gap: 14px;
}

.bottom-bar button {
  background: #2a2a2a;
  color: white;
  border: none;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  font-size: 18px;
  cursor: pointer;
}

.bottom-bar .end {
  background: #d93025;
}
